<%= form_for(@predmet) do |f| %>
  <% if @predmet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@predmet.errors.count, "error") %> prohibited this predmet from being saved:</h2>

      <ul>
      <% @predmet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nazov %><br>
    <%= f.text_field :nazov %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
